    .ads .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .ads .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .ads .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #8697ad; /* 未开启状态背景颜色 */
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px; /* 圆形按钮 */
    }

    .ads .slider.round {
        border-radius: 34px; /* 圆形按钮 */
    }

    .ads input:checked + .slider {
        background-color: #007aff; /* 开启状态背景颜色 */
    }

    /* Rounded sliders */
    .ads .slider.round:before {
        content: "";
        position: absolute;
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%; /* 圆形按钮 */
    }

    .ads input:checked + .slider:before {
        left: unset;
        right: 4px; /* 将圆形按钮移动到右侧 */
    }
	.ads #statusLabel{
		margin-left: 10px;
	}
    .tooltip {
        position: absolute;
        background-color: #555;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        display: none; /* 初始隐藏 */
    }